RewriteEngine On
RewriteBase /tabah/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]

# Sumbernya = http://www.zainalhakim.web.id/posting/membuat-clean-url-dengan-htaccess-dan-php.html